.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;

  &::after {
    content: " ";
    display: block;
    flex: 0 0 calc(33.33333% - 24px);
  }
}

.card {
  position: relative;
  background-color: $white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-radius: 3px;
  padding: 12px;
  width: calc(33.333% - 24px);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 36px;
  transition: all 0.3s ease;
  border-top: 4px solid $blue;
  text-decoration: none;

  &:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    border-bottom: none;
    transform: translateY(-6px);
  }
}

.card-thumbnail {
  float: right;
  margin-left: 10px;
  object-fit: contain;
  border-radius: 3px;
  width: 140px;
  height: auto;
}

.card-title {
  overflow-wrap: break-word;
  font-size: 32px;
  font-weight: bold;

  span {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8px;
  }
}

.card-creators {
  line-height: 1.2;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 18px;
}

.card-date {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;

  &:first-letter {
    text-transform: capitalize;
  }
}

@media (max-width: $large) {
  .card {
    width: calc(50% - 12px);
  }
  .card-thumbnail {
    width: 120px;
  }
}

@media (max-width: $tablet) {
  .card {
    width: 100%;
  }
}
