/* Config */
@import "config/fonts";
@import "config/variables";

/* Vendors */
@import "vendors/reset";

/* Blocks */
@import "blocks/header";
@import "blocks/cards";

/* body/html */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $black;
  background: #fff;
  font-family: "Roboto";
}

/* Titles */

h1 {
  color: $black;
  font-size: 54px;
  line-height: 1.2;
  font-weight: 900;
  text-shadow: 3px 3px 0px $blue;
  margin-bottom: 40px;
}

/* Other HTML tags */

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

section {
  margin-bottom: 40px;
}

/* Simple reusable blocks */

// any content (except decorative) should be inside a .container as it defines layout
.container {
  width: calc(100% - 24px);
  margin: 0 12px 48px 12px;
  padding: 0 12px;

  &.container-article {
    border-left: 5px solid $blue;
  }
}

@media (min-width: $tablet) {
  h1 {
    font-size: 68px;
  }
  .container,
  .container-article {
    width: auto;
    margin: 0 auto 60px auto;
    padding: 0 40px;
    max-width: $site-max-width;

    &.container-article {
      max-width: $article-max-width;
    }
  }
}

@media (min-width: $large) {
  h1 {
    font-size: 80px;
  }
  .container {
    padding: 0 60px;
    margin-bottom: 80px;

    &.container-article {
      padding: 0 60px;
    }
  }
}

// text classes

.white-text {
  color: $white;
}
.black-text {
  color: $black;
}
.grey-text {
  color: $grey;
}
.blue-text {
  color: $blue;
}
.big-text {
  font-size: 24px;
}
.small-text {
  font-size: 12px;
}
